*{margin: 0;padding:0}

.bg1{background: #16a085 }
.bg2{background: #3253ac }


.titulo{
    margin-bottom: 3em;
    text-align: center;

  
}


.conteiner .row .col-2 figure a :hover{
    visibility: hidden;
}
      



.conteiner .row .col a .text-decoration-none .text-success:hover{
    visibility: hidden;  
    } /*no me funciona*/

    
.textogeneral{
    text-align: justify;
}